<script src="/js/user-portal.js"></script>
<div id="user-portal-panels">
    <div id="register-panel">
        <div id="register-title">
            <h1>Register</h1>
        </div>
        <div id="register-window">
            <span class="entypo-plus-circled" id="registerBtn"></span>
        </div>
    </div>
    <div id="find-panel">
        <div id="find-title">
            <h1>Find</h1>
        </div>
        <div id="search-icon">
            <span class="entypo-search" id="findBtn"></span>
        </div>
    </div>
</div>