<div id="content-panel-one">
    <div id="media-focus">
        <div id="tagline">
            <h2>Easier Inventory</h2>
        </div>
        <div id="focus-image">
            <img src="http://placehold.it/350x250">
        </div>
    </div>
    <div class="button-link" id="get-started-btn">
        <h4>get started</h4>
        <span class="entypo-right-open-mini"></span>
        <span class="entypo-right-open-mini"></span>
    </div>
</div>
<div id="learn-more-panel">
    <div id="steps">
        <div class="step-row">
            <div class="step-label">
                <img src="/images/one.svg">
                <p>sign up</p>
            </div>
            <div class="step-label">
                <img src="/images/two.svg">
                <p>register inventory</p>
            </div>
        </div>
        <div class="step-row">
            <div class="step-label">
                <img src="/images/three.svg">
                <p>print QR codes</p>
            </div>
            <div class="step-label">
                <img src="/images/four.svg">
                <p>scan</p>
            </div>
        </div>
    </div>
    <div class="button-link" id="learn-more-btn">
        <h4>learn more</h4>
    </div>
</div>
<div id="app-marketing">
    <div id="app-marketing-statement">
        <h3>App Marketing</h3>
        <div class="button-link" id="get-app">
            <h4>get the app</h4>
            <span class="entypo-right-open-mini"></span>
        </div>
    </div>
    <div id="app-market-img">
        <img src="http://placehold.it/350x150">
    </div>
</div>
<div id="web-marketing">
    <div id="web-market-img">
        <img src="http://placehold.it/350x150">
    </div>
    <div id="web-marketing-statement">
        <h3>Web Marketing Statement</h3>
        <p>lorem epsum bacon draconis</p>
    </div>
</div>