<script type="text/javascript" src="/js/bundle.js"></script>
<div id="label-panel">
    <div id="label-title">
        <h3>Labels for {{clientName}}</h3>
    </div>
    <div id="label-container">
        {{#each item}}
        <div class="item-label-group">
            <div class="item-label">
                <label>"{{this.title}}"</label>
                <canvas id="{{this.id}}" class="canvas"></canvas>
            </div>
            <div class="location-label">
                <label>Location</label>
                <canvas = id="{{this.location}}" class="canvas"></canvas>
            </div>
        </div>
        {{/each}}
    </div>
</div>
