<div id="register-active">
    <div id="register-title">
        <h1>Register</h1>
    </div>
    <div class="register-window-focus">
        <div class="user-buttons" id="new-client-btn">
            <span class="entypo-plus-circled"></span>
            <h4>new client</h4>
        </div>
        <div id="new-client-box">
            <div id="FormInstruction">
                <h1>Enter Client Information</h1>
            </div>
            <div id="clientForm">
                <form method = "POST" action="/register-client">
                    <div class="errors">
                        {{#if errors}}
                            {{#each errors}}
                            <div class="alert alert-danger">{{msg}}</div>
                            {{/each}}
                        {{/if}}
                    </div>
                    <div id="new-client-form-input">
                        <div class="form-group" id="name-group">
                            <label>name</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="form-group" id="phone-group">
                            <label>phone</label>
                            <input type="text" name="phone" id="phone">
                        </div>
                        <div class="form-group" id="email-group">
                            <label>email</label>
                            <input type="email" name = "email" id="email">
                        </div>
                        <div class="form-group" id="rate-group">
                            <label>client rate: $</label>
                            <input type="number" name = "rate" id="rate">
                            <label>/sqft</label>
                        </div>
                    </div>
            </div>
        </div>
        <div class="reg-client-submit">
            <button type="submit" id="nextBtn">
                <span> > </span>
            </button>
        </div>
                </form>
    </div>
</div>
