<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content ="width=device-width">
    <meta charset="utf-8">
    <title>'Ntry</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/font-awesome.min.css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <div class = "container">
        <div id="navigation" class="row">
            <div class="col-md-2" id="headerLogo">
                <h1>'Ntry</h1>
            </div>
            <div class = "col-md-2">
                <a href="/find">find</a>
            </div>
            <div class = "col-md-2">
                <a href="/register">register</a>
            </div>
            <div class = "col-md-2">
                <a href="/users/info">settings</a>
            </div>
            <div class = "col-md-2">
                <a href="/users/logout">logout</a>
            </div>
        </div>
        <div id= "user-portal">
            {{{body}}}
        </div>
    </div>
</body>
</html>